<!--Site Footer Here-->
<footer id="site-footer" class="bglight padding_top">
    <div class="container">
        <div class="row">
             <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer_panel padding_bottom_half bottom20">
                    <a href="../index-logistic.html" class="footer_logo bottom25"><img src=" https://spot.spotlayer.com/storage/app/public/SBSfbWaKSIeFkLxPB3ng4Q2Ht6Mh1X1jo13LMCYg.svg" alt="MegaOne"></a>
                    <p class="greencolor bottom25">Keep away from people who try to belittle your ambitions Small people always do that but the really great Friendly.</p>
                    <div class="d-table w-100 address-item greencolor bottom25">
                        <span class="d-table-cell align-middle"><i class="fas fa-mobile-alt"></i></span>
                        <p class="d-table-cell align-middle bottom0">
                            085672734 <a class="d-block" href="mailto:support@surixpress.com">support@surixpress.com</a>
                        </p>
                    </div>
                    <ul class="social-icons darkcolor wow fadeInUp" data-wow-delay="300ms">
                        <li><a href="javascript:void(0)" class="facebook"><i class="fab fa-facebook-f"></i> </a> </li>
                        <li><a href="javascript:void(0)" class="whatsapp"><i class="fab fa-whatsapp"></i> </a> </li>
                        <li><a href="javascript:void(0)" class="insta"><i class="fab fa-instagram"></i> </a> </li>
                    </ul>
                </div>
            </div>  
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer_panel padding_bottom_half bottom20 pl-0 pl-lg-5">
                    <h3 class="greencolor bottom25">Sitemap</h3>
                    <ul class="links">
                        <li><a href="../index-logistic.html">Home</a></li>
                        <li><a href="about.html">Over Ons</a></li>
                        <li><a href="news-1.html">Latest News</a></li>
                        <li><a href="pricing.html">Business Planning</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a [routerLink]="['/faq']">Veelgestelde vragen</a></li>
                    </ul>
                </div>
            </div>
            <!-- <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer_panel padding_bottom_half bottom20">
                    <h3 class="greencolor bottom25">Kantoor Nederland</h3>
                    <ul class="latest_news greencolor">
                        <li> <p><i class="fas fa-map-marker-alt"></i>  Argonweg 21 </p></li>
                        <li> <p><i class="fa fa-phone"></i>   085 123 4566  </p></li>
                        <li> <p><i class="fa fa fa-envelope"></i>  info@surixpress.com  </p></li>
                        <li> <p><i class="fas fa-business-time"></i>  Maandag-Zaterdag: <span>8.00-18.00</span>  </p></li>
                    </ul>
                </div>
            </div> -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer_panel padding_bottom_half bottom20">
                    <h3 class="greencolor bottom25">Openingstijden</h3>
                    <p class="greencolor bottom25">Onze support is beschikbaar om u te helpen</p>
                    <ul class="hours_links greencolor">
                        <li><span>Maandag-Donderdag:</span> <span>10.00-18.00</span></li>
                        <li><span>Friday:</span> <span>10:00-19:00</span></li>
                        <li><span>Zaterdag:</span> <span>9:00-17:00</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer_panel padding_bottom_half bottom20 pl-0 pl-lg-5">
                    <h3 class="greencolor bottom25">Overig</h3>
                    <ul class="links">
                        <li><a href="../index-logistic.html">Privacy</a></li>
                        <li><a href="about.html">Disclaimer</a></li>
                        <li><a href="news-1.html">Algemene Voorwaarden</a></li>
                        <li><a href="pricing.html">Cookies</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--Footer ends-->


