
		
		<!--Main Slider-->
		<section id="main-banner-area" class="position-relative">
			<div id="revo_main_wrapper" class="rev_slider_wrapper fullwidthbanner-container m-0 p-0 bg-dark" data-alias="classic4export" data-source="gallery">
				<!-- START REVOLUTION SLIDER 5.4.1 fullwidth mode -->
				<div id="rev_main" class="rev_slider fullwidthabanner white" data-version="5.4.1">
					<ul>
						<!-- SLIDE 1 -->
						<li data-index="rs-00" data-transition="fade" data-slotamount="default" data-easein="Power100.easeIn" data-easeout="Power100.easeOut" data-masterspeed="2000" data-fsmasterspeed="1500" data-param1="1">
							<!-- MAIN IMAGE -->
                            <img src="assets/img/banner3.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
							<!-- LAYER NR. 1 -->
							<div class="overlay overlay-dark opacity-6"></div>
							<div class="tp-caption tp-resizeme" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-130','-130','-110','-80']" data-width="none" data-height="none" data-type="text" data-textAlign="['center','center','center','center']" data-responsive_offset="on" data-start="1000" data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
								<h2 class="text-capitalize font-xlight whitecolor text-center heading-title-small">Welkom bij SuriXpress Shipping</h2> </div>
							<!-- LAYER NR. 2 -->
							<div class="tp-caption tp-resizeme" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-70','-70','-50','-20']" data-width="none" data-height="none" data-type="text" data-textAlign="['center','center','center','center']" data-responsive_offset="on" data-start="1000" data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
								<h2 class="text-capitalize font-bold whitecolor text-center">Welkom bij SuriXpress Shipping</h2> </div>
							<!-- LAYER NR. 3 -->
							<div class="tp-caption tp-resizeme" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-10','-10','10','40']" data-width="none" data-height="none" data-type="text" data-textAlign="['center','center','center','center']" data-responsive_offset="on" data-start="1500" data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
								<h2 class="text-capitalize font-xlight whitecolor text-center heading-title-small">Wij doen alles om van u een tevreden klant te maken!</h2> </div>
						</li>
						<!-- SLIDE 2 -->
						<li data-index="rs-01" data-transition="fade" data-slotamount="default" data-easein="Power100.easeIn" data-easeout="Power100.easeOut" data-masterspeed="2000" data-fsmasterspeed="1500" data-param1="2">
							<!-- MAIN IMAGE -->
                            <img src="assets/img/banner4.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
							<!-- LAYER NR. 1 -->
							<div class="overlay overlay-dark opacity-6"></div>
							<div class="tp-caption tp-resizeme" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-130','-130','-110','-80']" data-width="none" data-height="none" data-type="text" data-textAlign="['center','center','center','center']" data-responsive_offset="on" data-start="1000" data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
								<h2 class="text-capitalize font-xlight whitecolor text-center heading-title-small">Tailored Services for your business</h2> </div>
							<!-- LAYER NR. 2 -->
							<div class="tp-caption tp-resizeme" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-70','-70','-50','-20']" data-width="none" data-height="none" data-type="text" data-textAlign="['center','center','center','center']" data-responsive_offset="on" data-start="1000" data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
								<h2 class="text-capitalize font-bold whitecolor text-center">LEADERS IN LOGISTICS!</h2> </div>
							<!-- LAYER NR. 3 -->
							<div class="tp-caption tp-resizeme" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-10','-10','10','40']" data-width="none" data-height="none" data-type="text" data-textAlign="['center','center','center','center']" data-responsive_offset="on" data-start="1500" data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
								<h2 class="text-capitalize font-xlight whitecolor text-center heading-title-small">We are your partner In Transport and Logistics Solutions!</h2> </div>
						</li>
					</ul>
				</div>
			</div>
			<ul class="social-icons-simple revicon white">
				<li class="d-table"><a href="https://facebook.com" rel="noopener noreferrer" target="_blank" class="facebook"><i class="fab fa-facebook-f fa-xl" ></i> </a> </li><br>
				<li class="d-table"><a href="javascript:void(0)" class="whatsapp"><i class="fab fa-whatsapp fa-xl"></i> </a> </li><br>
				<li class="d-table"><a href="https://instagram.com" rel="noopener noreferrer" target="_blank" class="insta"><i class="fab fa-instagram fa-xl"></i> </a> </li>
			</ul>
		</section>
		<!--Main Slider ends -->
        <!--Some Services-->
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div id="services-slider" class="owl-carousel">
						<div class="item">
							<div class="service-box"> <span class="bottom25"><i class="fas fa-cubes"></i></span>
								<h4 class="bottom10 text-nowrap"><a href="javascript:void(0)">Beste Aanpak</a></h4>
								<p>Met onze werkwijze bent u verzekerd van een zorgeloze zending!</p>
							</div>
						</div>
						<div class="item">
							<div class="service-box"> <span class="bottom25"><i class="fa fa-laptop"></i></span>
								<h4 class="bottom10"><a href="javascript:void(0)">Digitaal Toegang</a></h4>
								<p>Via onze webportal heeft u toegang tot alle informatie over uw zending!</p>
							</div>
						</div>
						<div class="item">
							<div class="service-box"> <span class="bottom25"><i class="fas fa-headset"></i></span>
								<h4 class="bottom10"><a href="javascript:void(0)">24/7 Support</a></h4>
								<p>Neem gerust contact met ons op via diverse kanalen.</p>
							</div>
						</div>
						<div class="item">
							<div class="service-box"> <span class="bottom25"><i class="fas fa-door-open"></i></span>
								<h4 class="bottom10"><a href="javascript:void(0)">Deur tot Deur</a></h4>
								<p>Wij halen het pakket bij u op en bezorgen deze bij de ontvanger.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Some Services ends-->
		<!--Some Feature -->
		<section id="about" class="single-feature padding mt-n5">
			<div class="container">
				<div class="row d-flex align-items-center">
					<div class="col-lg-6 text-center wow  text-sm-left fadeInLeft " data-wow-delay="300ms">
						<div class="heading-title mb-4">
							<h2 class="greencolor font-normal bottom30">ONZE MISSIE</h2> </div>
						<p class="bottom35">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> 
                        <a href="/about" class="button gradient-btn mb-sm-0 mb-4">Lees meer</a> </div>
					<div class="col-lg-6 wow  fadeInRight " data-wow-delay="300ms">
						<div class="image"><img alt="SEO" src="https://spot.spotlayer.com/public/uploads/all/PsBojPq11tBFSFFeL87U9hghQvrV2GHO5QCRiJgL.jpg"></div>
					</div>
				</div>
			</div>
		</section>
		<!--Some Feature ends-->
		<!-- WOrk Process-->
		<section id="our-process" class="padding bglight">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12 text-center">
						<div class="heading-title greencolor wow fadeInUp" data-wow-delay="300ms"> 
							<h2 class="font-normal">ONS WERK PROCES</h2> <br>
							<h3 class="bottom35">SuriXpress maakt het makkelijk om uw verzendingen zoals pakketten,
								briefpost en bestellingen, snel en zorgeloos naar Suriname te sturen.</h3> 

							
						</div>
					</div>
				</div>
				<div class="row">
					<ul class="process-wrapp">
						<li class="greencolor wow fadeIn" data-wow-delay="300ms"> 
							<span class="pro-step bottom20">01</span>
							<h4 class="fontbold bottom20">Verzend Opdracht Aanmaken</h4>
							<!-- <p class="mt-n2 mt-sm-0">Quisque tellus risus, adipisci viverra bibendum urna.</p> -->
						</li>
						<li class="greencolor wow fadeIn" data-wow-delay="300ms"> <span class="pro-step bottom20">02</span>
							<h4 class="fontbold bottom20">Uw pakket wordt opgehaald</h4>
							<!-- <p class="mt-n2 mt-sm-0">Quisque tellus risus, adipisci viverra bibendum urna.</p> -->
						</li>
						<li class="greencolor wow fadeIn" data-wow-delay="300ms"> <span class="pro-step bottom20">03</span>
							<h4 class="fontbold bottom20">Uw pakket wordt verscheept</h4>
							<!--<p class="mt-n2 mt-sm-0">Quisque tellus risus, adipisci viverra bibendum urna.</p> -->
						</li>
						<li class="greencolor wow fadeIn" data-wow-delay="300ms"> <span class="pro-step bottom20">04</span>
							<h4 class="fontbold bottom20">Vog uw pakket via track & trace</h4>
							<!--<p class="mt-n2 mt-sm-0">Quisque tellus risus, adipisci viverra bibendum urna.</p>-->
						</li>
						<li class="greencolor wow fadeIn" data-wow-delay="300ms"> <span class="pro-step bottom20">05</span>
							<h4 class="fontbold bottom20">Uw pakket wordt afgeleverd</h4>
							<!--<p class="mt-n2 mt-sm-0">Quisque tellus risus, adipisci viverra bibendum urna.</p> -->
						</li>

				
					</ul>
				</div>
			</div>
		</section>
		<!--WOrk Process ends-->	
		  <!-- Mobile Apps -->
		  <section id="our-apps" class="padding">
			  <div class="container">
				  <div class="row" style="text-align: inherit !important;">
					  <div class="col-lg-6 col-md-7 col-sm-12">
						  <div class="heading-title bottom30 wow fadeInLeft" data-wow-delay="200ms">
							  <span class="defaultcolor">Your shipments on your hand</span>
							  <h2 class="bottom30 darkcolor font-normal ">Mobile applications</h2>
						  </div>
					  </div>
					  <div class="col-lg-6 col-md-5 col-sm-12 wow fadeInRight" data-wow-delay="200ms">
						  <p class="heading_space mt-n3 mt-sm-0 ">Cargo is a software designed for companies that handle packages to monitor the logistics of storage and cargo handling to their final destination and managing employees and drivers so you can track all of your company. This system is the build on Laravel, the advantage of this software is that it is a web system.</p>
					  </div>
				  </div>
				  <div class="row d-flex align-items-center" id="app-feature">
					  <div class="col-lg-3 col-md-4 col-sm-12">
						  <div class="text-center text-md-left">
							 
								  <div class="feature-item mt-3 wow fadeInLeft" data-wow-delay="200ms">
									  <div class="icon"><i class="fas fa-american-sign-language-interpreting"></i></div>
									  <div class="text">
										  <h4 class="bottom15">
											  <span class="d-inline-block">winna</span>
										  </h4>
										  <p>desc</p>
									  </div>
								  </div>
					
	  
						  </div>
					  </div>
					  <div class="col-lg-6 col-md-4 col-sm-12 text-center">
						  <div class="image feature-item d-inline-block wow fadeIn my-5 my-md-0" data-wow-delay="400ms">
							  <img src="https://spot.spotlayer.com/public/uploads/all/J2QN66xv5iBj0XqlTdLoPQ2MTKdRl4ghK9ZV8pey.gif" alt="mobile phones">
						  </div>
					  </div>
					  <div class="col-lg-3 col-md-4 col-sm-12">
						  <div class="text-center text-md-right">
							
								  <div class="feature-item mt-3 wow fadeInLeft" data-wow-delay="200ms">
									  <div class="icon"><i class="fas fa-twitter"></i></div>
									  <div class="text">
										  <h4 class="bottom15">
											  <span class="d-inline-block">Omauira</span>
										  </h4>
										  <p>Colin</p>
									  </div>
								  </div>
							 
						  </div>
					  </div>
				  </div>
			  </div>
		  </section>
		  <!--Mobile Apps ends-->	
			<!-- Counters -->
			<section id="bg-counters" class="padding bg-counters" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/7/79/Palmentuin%2C_Paramaribo_%2830394425793%29.jpg);">
				<div class="container">
					<div class="row align-items-center text-center">
						<div class="overlay overlay-dark opacity-6 z-index-0"></div>
						<div class="col-lg-4 col-md-4 col-sm-4 bottom10">
							<div class="counters whitecolor  top10 bottom10"> <span class="count_nums font-light" data-to="2152" data-speed="2500"> </span> </div>
							<h3 class="font-light whitecolor top20">Tevreden Klanten</h3> </div>
						<div class="col-lg-4 col-md-4 col-sm-4">
							<p class="whitecolor top20 bottom20 font-light title">We recognize the trust you place in us when we deliver to your doorstep, shipping dock or place of business</p>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 bottom10">
							<div class="counters whitecolor top10 bottom10"> <span class="count_nums font-light" data-to="12451" data-speed="2500"> </span> </div>
							<h3 class="font-light whitecolor top20">Succesvolle Afleveringen</h3> </div>
					</div>
				</div>
			</section>
			<!-- Counters ends-->
			<!--Pricing Start-->
			<section id="pricing" class="padding bgprimary">
				<div class="container">
					<div class="row">
						<div class="col-md-12 col-sm-12 text-center">
							<div class="heading-title greencolor wow fadeInUp" data-wow-delay="300ms"> 
								<h2 class="font-normal heading_space_half"> Tarieven </h2> </div>
						</div>
						<div class="col-12 text-center ">
							<div class="price-toggle-wrapper heading_space" id="toggle"> 
								<span class="Pricing-toggle-button month active" >Zeevracht</span> 
								<span class="Pricing-toggle-button year" >Luchtvracht</span> 
							</div>
						</div>
					</div>
					<div class="owl-carousel owl-theme no-dots" id="price-slider-zee" >
						<div class="item">
							<div class="col-md-12">
								<div class="pricing-item wow fadeInUp animated" data-wow-delay="300ms" data-sale="30">
									<h3 class="font-bold greencolor">60 Liter</h3>
									<p class="bottom30">L(44)xB(32)xH(32)</p>
									<div class="pricing-price greencolor"><span class="pricing-currency">€15.00</span> </div>
									<ul class="pricing-list">
										<li>Track and Trace</li>
										<li>Levertijd: 2 - 3 weken</li>
										<li>Bezorgen mogelijk</li>
										<li>Gratis ophalen*</li>
									</ul> <a class="button" href="javascript:void(0)">Verzend</a> 
								</div>
							</div>
						</div>
						<div class="item">
							<div class="col-md-12">
								<div class="pricing-item wow fadeInUp animated" data-wow-delay="380ms">
									<h3 class="font-bold greencolor">80 Liter</h3>
									<p class="bottom30">The standard version</p>
									<div class="pricing-price greencolor"><span class="pricing-currency">€20.00</span> </div>
									<ul class="pricing-list">
										<li>Track and Trace</li>
										<li>Levertijd: 2 - 3 weken</li>
										<li>Bezorgen mogelijk</li>
										<li>Gratis ophalen*</li>
									</ul> <a class="button" href="javascript:void(0)">Verzend</a> 
								</div>
							</div>
						</div>
						<div class="item">
							<div class="col-md-12">
								<div class="pricing-item wow fadeInUp animated" data-wow-delay="460ms">
									<h3 class="font-bold greencolor">120 Liter</h3>
									<p class="bottom30">The standard version</p>
									<div class="pricing-price greencolor"><span class="pricing-currency">€25.00</span> </div>
									<ul class="pricing-list">
										<li>Track and Trace</li>
										<li>Levertijd: 2 - 3 weken</li>
										<li>Bezorgen mogelijk</li>
										<li>Gratis ophalen*</li>
									</ul> <a class="button" href="javascript:void(0)">Verzend</a> 
								</div>
							</div>
						</div>
						<div class="item">
							<div class="col-md-12">
								<div class="pricing-item wow fadeInUp animated" data-wow-deeay="400ms">
									<h3 class="font-bold greencolor">160 Liter</h3>
									<p class="bottom30">The standard version</p>
									<div class="pricing-price greencolor"><span class="pricing-currency">€30.00</span></div>
									<ul class="pricing-list">
										<li>Track and Trace</li>
										<li>Levertijd: 2 - 3 weken</li>
										<li>Bezorgen mogelijk</li>
										<li>Gratis ophalen*</li>
									</ul> <a class="button" href="javascript:void(0)">Verzend</a> 
								</div>
							</div>
						</div>
					</div>
					<div class="owl-carousel owl-theme no-dots" id="price-slider-lucht" >
						<div class="item">
							<div class="col-md-12">
								<div class="pricing-item wow fadeInUp animated" data-wow-delay="300ms" data-sale="30">
									<h3 class="font-bold greencolor">De prijs wordt op basis van het gewicht berekend</h3>
									<p class="bottom30">bla bla bla bla</p>
									<div class="pricing-price greencolor"><span class="pricing-currency">€6.50</span>/<span class="pricing-duration">kilo</span> </div>
									<ul class="pricing-list">
										<li>Track and Trace</li>
										<li>Levertijd: 2 - 3 werkdagen</li>
										<li>Bezorgen mogelijk</li>
										<li>Gratis ophalen*</li>
									</ul> <a class="button" href="javascript:void(0)">Verzend</a> 
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--Pricing ends-->
       